<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Spring MVC Learning - List of Users</title>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.2.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <link href="../../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:unless="${#lists.isEmpty(users)}">
        <h2>Users List</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.customer.firstName}"></td>
                <td th:text="${user.customer.lastName}"></td>
                <td><a th:href="${'/user/show/' + user.id}">View</a></td>
                <td><a th:href="${'/user/edit/' + user.id}">Edit</a></td>
                <td><a th:href="${'/user/delete/' + user.id}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <ul>
            <li><a th:href="${'/user/new'}">New User</a></li>
            <li><a th:href="${'/'}">Go back to Home Page</a></li>
        </ul>
    </div>
</div>
</body>
</html>