<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Spring MVC Learning</title>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.2.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <link href="../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <h1>Hello World</h1>

    <h2>This is my Thymeleaf index page.</h2>
    <ul>
        <li><a th:href="${'/product/list'}">Products list</a></li>
        <li><a th:href="${'/customer/list'}">Customers list</a></li>
        <li><a th:href="${'/user/list'}">User list</a></li>
    </ul>
</div>

</body>
</html>